@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


body{
  background-color: #dcdcdc;
  text-align: center;
  font-family: "Nunito";
}

label{
  display: block;
  margin: 5px;
  margin-left: 1px;
}
button{
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(163, 255, 127);
  border: 1px solid #a3a1a1;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  
}

input{
  height: 20px;
  border-radius: 20px;
  border: 1px solid #a3a1a1;
  padding: 5px;
  padding-left: 20px;
}